In [11]:
import numpy as np
import pandas as pd

In [12]:
# create timestamp
pd.Timestamp('2025/5/13')
type(pd.Timestamp("2025/8/19"))

pandas._libs.tslibs.timestamps.Timestamp

In [6]:
# write in words also like
pd.Timestamp("2025-june-25")

Timestamp('2025-06-25 00:00:00')

In [13]:
# add time 
pd.Timestamp('2025/june/18 10:30am')

Timestamp('2025-06-18 10:30:00')

In [18]:
# using dateTime
import numpy as np



date = np.array('2015-07-04', dtype=np.datetime64)
print(date)

2015-07-04

In [19]:
date + np.arange(14)

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
       '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15',
       '2015-07-16', '2015-07-17'], dtype='datetime64[D]')

In [21]:
# A collection of pandas timestamp

type(pd.DatetimeIndex(['2023-2-2','2025-6-9']))

pandas.core.indexes.datetimes.DatetimeIndex

In [25]:
# using python datetime object
import datetime as dt
idx = pd.DatetimeIndex([dt.datetime(2013,3,3),dt.datetime(2013,4,3),dt.datetime(2013,6,3)])
type(idx)

pandas.core.indexes.datetimes.DatetimeIndex

In [27]:
# use datetimeindex as index
pd.Series([1,2,3],index=idx)

2013-03-03    1
2013-04-03    2
2013-06-03    3
dtype: int64

'S': Second
'min': Minute
'H': Hourly
'D': Daily
'B': Business day
'W': Weekly (e.g., 'W-SUN' for Sunday)
'M': Month-end
'MS': Month-start
'Q': Quarter-end
'QS': Quarter-start
'Y': Year-end
'YS': Year-start

In [33]:
# date_range function
pd.date_range(start='25-5-2020',end='25-6-2020',freq="W-mon")

DatetimeIndex(['2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22'],
              dtype='datetime64[ns]', freq='W-MON')

In [43]:
# to_datetime function

date = pd.Series(['2002-6-4','2020-3-5','2020-6-2'])
pd.to_datetime(date).dt.day_name()

0     Tuesday
1    Thursday
2     Tuesday
dtype: object

In [56]:
from datetime import datetime
data = {
    "Date": ["12-06-2012","12-08-2019","12-06-2020"],
    "value":[10,20,30]
}
df = pd.DataFrame(data)
df["Date"] = pd.to_datetime(df["Date"])
df["year"] = df["Date"].dt.year
df

        Date  value  year
0 2012-12-06     10  2012
1 2019-12-08     20  2019
2 2020-12-06     30  2020

5. Additional Notes
Performance: Pandas is optimized for large datasets, while datetime is better for single operations.
Time Zones: Use pytz with datetime or pandas for robust time zone handling.
Missing Data: Pandas handles missing dates (NaT) seamlessly in time series.
External Libraries: For advanced time series analysis, consider libraries like statsmodels or prophet.